{% extends "base.html" %}

{% block content %}
  <h1>Car Detail</h1>
  <p>
    <strong>Manufacturer:</strong> {{ car.manufacturer.name }}
    <br>
    <strong>Country:</strong> {{ car.manufacturer.country }}
  </p>
  <div class="ml-3">
    <h2>Drivers</h2>
    {% for driver in car.drivers.all %}
      <hr>
      <p class="text-muted"></p>
      <p>{{ driver.first_name }} {{ driver.last_name }}
        {% if driver.username %}
          <string>Username:</string> {{ driver.username }}
        {% endif %}
      </p>
    {% endfor %}
  </div>
{% endblock %}
